<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb830473245630803</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>830473245630803</string>
	<key>FacebookClientToken</key>
	<string>1cc8b6a7366c53b32d883f4fb7135229</string>
	<key>FacebookDisplayName</key>
	<string>TripLogix</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Tanker-Regular.otf</string>
		<string>Stardom-Regular.otf</string>
		<string>BespokeStencil-Regular.otf</string>
		<string>Bevellier-Regular.otf</string>
		<string>Bevellier-Medium.otf</string>
		<string>Bevellier-Bold.otf</string>
		<string>Boska-Regular.otf</string>
		<string>Boska-Black.otf</string>
		<string>Satoshi-Regular.otf</string>
		<string>Satoshi-Bold.otf</string>
		<string>Excon-Regular.otf</string>
		<string>Excon-Medium.otf</string>
		<string>Excon-Bold.otf</string>
		<string>Gilroy-Black.ttf</string>
		<string>Gilroy-BlackItalic.ttf</string>
		<string>Gilroy-Bold.ttf</string>
		<string>Gilroy-ExtraBold.ttf</string>
		<string>Gilroy-Heavy.ttf</string>
		<string>Gilroy-Light.ttf</string>
		<string>Gilroy-Medium.ttf</string>
		<string>Gilroy-MediumItalic.ttf</string>
		<string>Gilroy-Regular.ttf</string>
		<string>Gilroy-RegularItalic.ttf</string>
		<string>Gilroy-SemiBold.ttf</string>
		<string>Gilroy-Thin.ttf</string>
		<string>Gilroy-UltraLight.ttf</string>
	</array>
</dict>
</plist>
