<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Tanker-Regular.otf</string>
		<string>Stardom-Regular.otf</string>
		<string>BespokeStencil-Regular.otf</string>
		<string>Bevellier-Regular.otf</string>
		<string>Bevellier-Meduim.otf</string>
		<string>Bevellier-Bold.otf</string>
		<string>Boska-Regular.otf</string>
		<string>Boska-Black.otf</string>
		<string>Satoshi-Regular.otf</string>
		<string>Satoshi-Bold.otf</string>
		<string>Excon-Regular.otf</string>
		<string>Excon-Medium.otf</string>
		<string>Excon-Bold.otf</string>
		<string>Gilroy-Black.ttf</string>
		<string>Gilroy-BlackItalic.ttf</string>
		<string>Gilroy-Bold.ttf</string>
		<string>Gilroy-ExtraBold.ttf</string>
		<string>Gilroy-Heavy.ttf</string>
		<string>Gilroy-Light.ttf</string>
		<string>Gilroy-Medium.ttf</string>
		<string>Gilroy-MediumItalic.ttf</string>
		<string>Gilroy-Regular.ttf</string>
		<string>Gilroy-RegularItalic.ttf</string>
		<string>Gilroy-SemiBold.ttf</string>
		<string>Gilroy-Thin.ttf</string>
		<string>Gilroy-UltraLight.ttf</string>
	</array>
</dict>
</plist>
