<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Tanker-Regular.otf</string>
		<string>Stardom-Regular.otf</string>
		<string>BespokeStencil-Regular.otf</string>
		<string>Bevellier-Regular.otf</string>
		<string>Bevellier-Meduim.otf</string>
		<string>Bevellier-Bold.otf</string>
		<string>Boska-Regular.otf</string>
		<string>Boska-Black.otf</string>
		<string>Satoshi-Regular.otf</string>
		<string>Satoshi-Bold.otf</string>
		<string>Excon-Regular.otf</string>
		<string>Excon-Medium.otf</string>
		<string>Excon-Bold.otf</string>
		<string>Gilroy-Black.ttf</string>
		<string>Gilroy-BlackItalic.ttf</string>
		<string>Gilroy-Bold.ttf</string>
		<string>Gilroy-ExtraBold.ttf</string>
		<string>Gilroy-Heavy.ttf</string>
		<string>Gilroy-Light.ttf</string>
		<string>Gilroy-Medium.ttf</string>
		<string>Gilroy-MediumItalic.ttf</string>
		<string>Gilroy-Regular.ttf</string>
		<string>Gilroy-RegularItalic.ttf</string>
		<string>Gilroy-SemiBold.ttf</string>
		<string>Gilroy-Thin.ttf</string>
		<string>Gilroy-UltraLight.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb379747935071535</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>379747935071535</string>
	<key>FacebookClientToken</key>
	<string>4b4d2deaec96e4453b5e1fc42d3aeedd</string>
	<key>FacebookDisplayName</key>
	<string>TripLogix</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>TripLogix</string>
	<key>CFBundleIdentifier</key>
	<string>com.13apps.com.TripLogix</string>
	<key>CFBundleName</key>
	<string>TripLogix</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>google</string>
		<string>googlechrome</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.514838649340-0fde7bcll5meailh7nrcfd6nfgkqp6eq</string>
			</array>
		</dict>
	</array>
		<key>GCM_SENDER_ID</key>
	<string>123921210198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.13apps.com.TripLogix</string>
	<key>PROJECT_ID</key>
	<string>triplogix-a23b8</string>
	<key>STORAGE_BUCKET</key>
	<string>triplogix-a23b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123921210198:ios:b80f4724a94e2d2d6dd4f7</string>
	<key>CLIENT_ID</key>
	<string>514838649340-0fde7bcll5meailh7nrcfd6nfgkqp6eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514838649340-0fde7bcll5meailh7nrcfd6nfgkqp6eq</string>
</dict>
</plist>
